:root {
  /* COLORS */
  --color-primary: #16001e;
  --color-primary-light-1: #5d1a7d;
  --color-primary-light-2: #6f3386;
  --color-primary-dark-1: #3c0058;
  --color-primary-dark-2: #260037;

  --color-text-dark-1: #07000b;
  --color-text-light-1: #ede6f1;
  --color-text-light-2: #c9b3d0;

  /* FONTS */
  --font-boldest: 900;
  --font-bold: 700;
  --font-thin: 300;
  --font-thinest: 100;

  /* SHADOWS */
  --shadow-light: 0 1rem 4rem rgba(var(var(--color-primary-dark-2) 0.1));
  --shadow-dark: 0 2rem 6rem rgba(var(var(--color-primary-dark-2) 0.9));

  /* BREAKPOINTS */

  --bp-medium: 56.25em; /* 900px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text-dark-1);
  padding: 3rem;
  background-color: var(--color-text-light-1-);
}

/* BUTTON STYLING --------------------------------------------- */

.btn,
btn:link,
btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: 1.8rem;
  padding: 1.5rem 4rem;
  border-radius: 20rem;

  border: none;
  cursor: pointer;
}

.btn--light {
  background-color: var(--color-text-light-1);
  color: var(--color-primary-dark-2);
}

/* NOTE: TOP NAV -----------------------------------------------------------------------  */

/* .nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary-dark-2),
    var(--color-primary)
  );
}

.nav__logo {
  background-color: var(--color-primary-light-2);
  height: 4rem;
  width: 4rem;
}

.nav__list {
  list-style: none;
  display: none;
  gap: 2rem;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-light-1);
  font-size: 1.8rem;
  font-weight: var(--font-bold);
} */

/* NAVIGATION MINIMALISTIC */

/* HEADER ------------------------ */ ;
